.app{
    .container{



        //login and register
        .userAuth{
            display: flex;
            align-items: center ;
            justify-content: center;
        }

        .input{
            padding: 15px;
        }
    }
}